body {
    font-family: 'Nunito Sans', sans-serif;
}
.container {
    max-width: 1180px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}
header {
    border-bottom: 1px solid #DEDEDE;
}
.header {
      font-family: 'Open Sans', sans-serif; 
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-top: 28px;
      padding-bottom: 23px;
}
.header-logo {
    display: block;
    background-image: url(../images/logo.svg);
    width: 176px;
    height: 56px;
    background-repeat: no-repeat;
    background-size: cover;
}
.header-nav {
    list-style-type: none;
    display: flex;
    padding-left: 0;
    gap: 46px;
    padding-right: 98px;
}
.header-nav a {
    font-weight: 600;
    font-size: 20px;
    color: #443737;
    text-decoration: none;
}
.header-nav a:hover {
    color: #FFC725;
}
.header-nav a::after {
    content: "";
    width: 100%;
    height: 3px;
    border-radius: 1.5px;
    background: transparent;
    display: block;
}
.header-nav a.active::after {
    background: #FFC725;
}
.button {
    display: flex;
    align-items: center;
    background-color: transparent;
    border: none;
    padding: 0;
    gap: 10px;
    cursor: pointer;
}
.button-item {
    position: relative;
}
.button-count {
    font-weight: 700;
    font-size: 13px;
    color: #FFFFFF;
    background: #F37335;
    border-radius: 100%;
    position: absolute;
    width: 17px;
    height: 17px;
    text-align: center;
    line-height: 1.3;
    bottom: 3px;
    right: -4px;
}
.button-text {
    color: #443737;
    font-weight: 700;
    font-size: 15px;
}
.bg {
    text-align: center;
    color: #FFFFFF;
    background-image: url(../images/bg.jpg);
    background-size: cover;
    background-position: center center;
    padding: 142px 0;
    margin-bottom: 140px;
}
.breadcrumbs {
    padding-left: 0;
    margin-top: 0;
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 7px;
}
.breadcrumbs a {
    color: #DEDEDE;
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
}
.breadcrumbs a:hover {
    color: #FFC725;
}
.breadcrumbs a::before {
    content: '/';
    position: relative;
    left: -3px;
    pointer-events: none;
}
.breadcrumbs a:hover::before {
    color: #DEDEDE;
}
.breadcrumbs li:first-child a::before {
    display: none;
}
.title {
    font-weight: 700;
    font-size: 79px;
    margin-top: 17px;
    margin-bottom: 20px;
}
.description {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    line-height: 1.6;
    color: #FAF9F9;
    max-width: 320px;
    margin: 0 auto;
}
.banner-box {
    background-image: url(../images/banner-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: #FFFFFF;
    background-position: center center;
    padding: 100px 0 118px 100px;
    margin-bottom: 100px;
}
.banner-title {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 60px;
    font-weight: 900;
    margin-top: 0;
    margin-bottom: 15px;
}
.banner-title span {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 18px;
    text-transform: uppercase;
    display: block;
    max-width: 96px;
    text-align: center;
    background-color: #F37335;
    padding: 5px 0;
    border-radius: 14px;
    margin-bottom: 6px;
}
.banner-text {
    max-width: 307px;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    line-height: 24px;
    color: #FAF9F9;
    margin-top: 0;
    margin-bottom: 34px;
}
.banner-link {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 18px;
    color: #1E2F40;
    text-decoration: none;
    text-transform: uppercase;
    background-color: #FBB731;
    padding: 20px 25px 19px 25px;
    border-radius: 5px;
}
.menu {
    font-family: 'Nunito Sans', sans-serif;
}
.menu-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 35px;
}
.menu-title {
    font-size: 44px;
    font-weight: 700;
    line-height: 56px;
    color: #1B2A49;
    text-transform: uppercase;
    margin: 0;
}
.menu-select {
    font-family: 'Open Sans', sans-serif;
    border: 1px solid #DEDEDE;
    padding: 13px 30px;
    border-radius: 22px;
    color: #443737;
    font-size: 15px;
    appearance: none;
    flex-basis: 279px;
    background-image: url(../images/arrow.svg);
    background-size: 12.79px 7.75px;
    background-repeat: no-repeat;
    background-position: 89% center;
}
.menu-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px 20px;
    margin-bottom: 100px;
}
.menu-grid-item {
    text-align: center;
}
.menu-grid-cover {
    width: 100%;
    height: 430px;
    position: relative;
    overflow: hidden;
    margin-bottom: 21px;
}
.menu-grid-cover img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;
    width: 100%;
    height: 430px;
}
.menu-grid-title {
    font-size: 30px;
    font-weight: 600;
    color: #1B2A49;
    line-height: 38px;
    margin-top: 0;
    margin-bottom: 5px;
}
.menu-grid-price {
    font-size: 20px;
    font-weight: 700;
    color: #979797;
    line-height: 28px;
    margin-top: 0;
    margin-bottom: 19px;
}
.menu-grid-btn {
    display: flex;
    border: none;
    background-color: #FBB731;
    padding: 10px 35px 10px 30px;
    border-radius: 5px;
    gap: 9px;
    margin: 0 auto;
}
.menu-grid-icon {
    background-image: url(../images/cart-menu.svg);
    width: 18px;
    height: 18px;
    color: #443737;
}
.menu-grid-text{
    font-size: 14px;
    font-weight: 700;
    line-height: 18px;
    text-transform: uppercase;
    color: #1E2F40;
}
.footer {
    background-color: #1E2F40;
    padding-top: 117px;
    padding-bottom: 106px;
    margin-top: 140px;
}
.footer-box {
    display: flex;
    justify-content: space-between;
}
.footer-logo {
    width: 63px;
    height: 56px;
}
.footer-item {
    flex: 0 0 auto;
}
.footer-item h2 {
    font-size: 20px;
    font-weight: 800;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 19px;
    color: #ffffff;
}
.footer-item li {
    margin-bottom: 9px;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    color: #FAF9F9;
    font-weight: 700;
    line-height: 24px;
}
.footer-item a {
    color: #DEDEDE;
    text-decoration: none;
    font-weight: 400;
}
.footer-item span {
    color: #DEDEDE;
    display: block;
    font-weight: 400;
    margin-bottom: 2px;
}
.footer-tel ul {
    font-size: 20px;
    font-weight: 900;
    color: #FBB731;
    margin-top: 0;
}
.footer-tel li {
    font-size: 20px;
    line-height: 38px;
    color: #FBB731;
}
.footer-list {
    padding-left: 0;
    list-style-type: none;
}
